.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
    background-color: dodgerblue;
    font: inherit;
    border: 1px solid dodgerblue;
    padding: 8px 22px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #ccc;
}
.Button:hover {
  background-color: white;
  color: black;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: yellowgreen;
  color: black; 
}